<div class="media">
  <div class="media-left">
    <%= image_tag("pawandeep.jpg", class: "media-object", width: "64", height: "64")%> 
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  </div>
  <div class="media-right">
    <%= image_tag("pawandeep.jpg", class: "media-object", width: "64", height: "64")%> 
  </div>
</div>