<div class="row">
<div class="col-xs-12">
<div class="white-box">
<form class="form-horizontal form-material">
<div class="form-group">
<label class="col-md-12">City or Zip Code</label>
<div class="col-md-12">
<input type="text" placeholder="San Francisco or 94115" class="form-control form-control-line">
</div>
</div>
<div class="form-group">
<label class="col-md-12">Distance from location</label>
<div class="col-md-12">
<input type="text" placeholder="3 miles" class="form-control form-control-line">
</div>
</div>
<div class="form-group">
<label class="col-sm-12">Housing Style</label>
<div class="col-sm-12">
<select class="form-control form-control-line">
<option>London</option>
<option>India</option>
<option>Usa</option>
<option>Canada</option>
<option>Thailand</option>
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-12">Number of Rooms</label>
<div class="col-sm-12">
<select class="form-control form-control-line">
<option>London</option>
<option>India</option>
<option>Usa</option>
<option>Canada</option>
<option>Thailand</option>
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-12">Number of Bathrooms</label>
<div class="col-sm-12">
<select class="form-control form-control-line">
<option>London</option>
<option>India</option>
<option>Usa</option>
<option>Canada</option>
<option>Thailand</option>
</select>
</div>
</div>
<div class="form-group">
<div class="col-sm-12">
<button class="btn btn-success">Update Profile</button>
</div>
</div>
</form>
</div>
</div>
</div>

      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <div class="white-box">

  <div style="height:100%; width: 100%;"> 
    <!-- <div id="map-canvas"></div> -->
            <div id="map" style="width:100%;height:300px;"></div>
  </div>
          </div>
        </div>

        <div class="col-md-6 col-md-pull-6">
          <div class="white-box">
            <% @dwelling.each do |dwelling|%>
              <div class="media">
                <div class="media-left">
                  <%= image_tag("pawandeep.jpg", class: "media-object", width: "64", height: "64")%> 
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%=dwelling.try(:display_name)%>
                  </h4>
              <%=dwelling.address.inspect%>
                </div>
                <div class="media-right">
                  <%= image_tag("pawandeep.jpg", class: "media-object", width: "64", height: "64")%> 
                </div>
              </div>
            <%end%>
          </div>
        </div>

      </div>
      <!-- /.row -->

<% content_for :javascripts do %>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL95_FQF-8xeI7BSxU_YzS5wSW5aAhXuE"></script>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
      initMap();
    </script>



<%end%>