<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>ID</th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.try(:first_name)%></td>
        <td><%= user.try(:last_name) %></td>
        <td><%= user.try(:public_user_id) %></td>
        <td><%= link_to 'Show', user_path(user) %></td>

      </tr>
    <% end %>
  </tbody>
</table>


