<% if notice || alert %>
  <div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
    <% if notice %>
      <p class="text-center"><%= notice %></p>
    <% elsif alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
<% end %>