<section class="bg-secondary" id="hosts">
<div class="container sm-text-center ph-sm-10per">
<div class="row">
<div class="col-xs-12">
<h4 class="uppercase mb16 text-center bold pb16">
For Hosts
</h4>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-medall-alt text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Verified Income &amp References</h5>
<p class="fade-1-4">

The public<span class="pbnb-color">bnb</span> platform
connects with housing authorities
and past landlords to 
request and verify
income sources
and recommendations -
secure, accurate
data to help you 
find your ideal tenant.
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-search text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Background Checks</h5>
<p class="fade-1-4">
No more waiting around for paperwork.
You can view or request a prospective tenant’s criminal background history with a single click .
</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-wallet text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Payment Processing</h5>
<p class="fade-1-4">
Fully integrated and automated payment processing makes managing your properties a simple and enjoyable experience.
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-desktop text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Property &amp Tenant Manager</h5>
<p class="fade-1-4">
Manage your properties, applicants, inspections, and tenants from the same place. 
</p>
</div>
</div>
</div>
</div>
</div>
</section>