<section class="bg-secondary" id="hosts">
<div class="container sm-text-center ph-sm-10per">
<div class="row">
<div class="col-xs-12">
<h4 class="uppercase mb16 text-center bold pb16">
For Hosts
</h4>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-medall-alt text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Verified Income &amp References</h5>
<p class="fade-1-4">
Income sources are verified by the tenant's respective housing authority and public<span class="pbnb-color">bnb</span> allows its participants to verify their references through the public<span class="pbnb-color">bnb</span> platform. Trusted, accurate data to help you choose your ideal tenant.  
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-search text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Background Checks</h5>
<p class="fade-1-4">
Don’t waste time waiting on paperwork! With a single click you can view a prospective tenant’s criminal background history.
</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-shield text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Trusted &amp Secure Community</h5>
<p class="fade-1-4">
See your prospective tenant's detailed profile and past activity, including past host reviews. 
</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="feature feature-3 mb30">
<div class="left">
<i class="ti-desktop text-white icon-sm"></i>
</div>
<div class="right">
<h5 class="mb8 uppercase bold">Property &amp Tenant Manager</h5>
<p class="fade-1-4">
Manage one or many properties, applicants, and tenants from the same place. We give you the tools you need to make your life easier and your ventures more successful.
</p>
</div>
</div>
</div>
</div>
</div>
</section>