<section class="" id="about-us">
<div class="container ph-sm-10per">
<div class="row v-align-children">
<div class="col-sm-4 col-md-offset-1 mb-xs-24 ph-xs-10per">
<%= image_tag("pbnb_logo.png", class: "center-block third-size-img pb16") %>
<h2 class="mb64 mb-xs-32 text-center">public<span class="pbnb-color">bnb</span> helps make affordable housing <span class="pbnb-color">simpler</span> than ever</h2>

</div>
<div class="col-sm-5 col-sm-6 col-sm-offset-1 text-center">
<div class="mb40 mb-xs-24">
<h5 class="uppercase bold mb16">For tenants</h5>
<p class="fade-1-4">
The easiest way to find and apply for affordable housing.
Create a profile, search for housing and easily apply to multiple places with just a few clicks. 
</p>
</div>
<div class="mb40 mb-xs-24">
<h5 class="uppercase bold mb16">For hosts</h5>
<p class="fade-1-4">
Effectively Manage your property listing/s, 
applicants, inspections and tenants in
one place.
Our Integrated platform offers payment processing, verified tenant references, income verifications, instant background checks, and more.

</p>
</div>
<!-- <div class="mb40 mb-xs-24">
<h5 class="uppercase bold mb16">For Housing Authorities</h5>
<p class="fade-1-4">
We are partnering with housing authorities to help streamline difficult processes and provide secure access to program data, all in an effort to add transparency, create efficiencies, and improve the public housing market at large. 
</p>
</div> -->
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</section>