<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <%= image_tag("nav_light.png", class: "logo logo-light") %> 
                    <%= image_tag("nav_light.png", class: "logo logo-dark") %> 
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="">
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a class="scroll-to" href="#about-us">
                                About
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                Tenants
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                Hosts
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-sm capitalize" href="#">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
                <!--end of menu module-->
<!--                 <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-heart"></i>
                        <span class="title">Sign Up</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input class="hello-btn" type="text" placeholder="your_email@mail.com" />
                            <a class="btn btn-sm btn-filled center-block" href="#purhcase-template">Sign up</a>
                        </form>
                    </div>
                </div> -->
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>