<div class="nav-container">
<a id="top"></a>
<nav class="absolute transparent">
<div class="nav-bar">
<div class="module left">
<a href="index.html">
<%= image_tag("dw_nav_logo_light.png", class: "logo logo-light") %> 
<%= image_tag("dw_nav_logo.png", class: "logo logo-dark") %> 
</a>
</div>
<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
<i class="ti-menu"></i>
</div>
<div class="module-group right">
<div class="module left">
<ul class="menu">
<li class="">
<a href="#home" class="inner-link">
Home
</a>
</li>
<li class="">
<a class="inner-link" href="#about-us">
About
</a>
</li>
<li class="">
<a class="inner-link" href="#tenants">
Tenants
</a>
</li>
<li class="">
<a class="inner-link" href="#hosts">
Hosts
</a>
</li>
<li class="">
<a class="btn btn-md capitalize inner-link" href="#sign-up">
Contact Us
</a>
</li>
</ul>
</div>
</div>
</div>
</nav>
</div>