<section id="tenants">
<div class="container sm-text-center ph-sm-10per">
<div class="row">
<div class="col-xs-12">
<h4 class="uppercase mb16 text-center bold pb16">
For Tenants
</h4>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-push-3 text-center">
<div class="image-slider slider-paging-controls controls-outside">
<ul class="slides">
<li class="mb32">
<%= image_tag("tenant_profile.png") %> 
</li>
<li class="mb32">
<%= image_tag("tenant_profile_sent.png") %> 
</li>
<li class="mb32">
<%= image_tag("tenant_property_search.png") %> 
</li>
<li class="mb32">
<%= image_tag("payment_calculator.png") %> 
</li>
</ul>
</div>
</div>
<div class="col-sm-3 col-sm-pull-6">
<div class="mt80 mt-xs-80 ">
<h5 class="uppercase bold mb16">Universal Profile</h5>
<p class="fade-1-4">
Export your profile to apply for your future home with prospective hosts via email or apply directly through the public<span class="pbnb-color">bnb</span> system. One profile, many uses.
</p>
</div>
<div class="mt80 mt-xs-0 ">
<h5 class="uppercase bold mb16">Payment Calculator</h5>
<p class="fade-1-4">
We've designed a payment calculator especifically for Section 8/HCV participants. Get a payment estimate for your future home in seconds.
</p>
</div>
</div>
<div class="col-sm-3">
<div class="mt80 mt-xs-0">
<h5 class="uppercase bold mb16">Find, Filter, &amp Favorite</h5>
<p class="fade-1-4">
Find your future home with ease. Search our directry of properties, filter by what matters most to you (location, cost, bedrooms, bathrooms, etc.), and favorite any properties you want to remember.
</p>
</div>
<div class="mt80 mt-xs-0">
<h5 class="uppercase bold mb16">Click &amp Apply</h5>
<p class="fade-1-4">
Applying to your future home is as simple as a couple of clicks ! Stop wasting time and find your future home with public<span class="pbnb-color">bnb</span>.
</p>
</div>
</div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</section>
