<section class="image-bg overlay arallax pt240 pb180 pt-xs-80 pb-xs-80 ">
<div class="background-image-holder">
<%= image_tag("family_home.jpg", class: "background-image") %> 
</div>
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-12 ">
<h1 class="pt-xs-80">A community-based approach to affordable housing</h1>
<a style="font-size:1.3em;" class="btn btn-md capitalize inner-link" href="#about-us">Find out more</a>
</div>
</div>
</div>
</section>