<li class="sidebar-search hidden-sm hidden-md hidden-lg">
   <!-- Search input-group this is only view in mobile -->
   <div class="input-group custom-search-form">
      <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
      </span> 
   </div>
   <!-- / Search input-group this is only view in mobile-->
</li>
<!-- User profile-->
<li class="user-pro">
   <a href="#" class="waves-effect"><%= image_tag("varun.jpg", class: "img-circle") %> <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span></a>
   <ul class="nav nav-second-level">
      <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
      <li><a href="javascript:void(0)"><i class="ti-wallet"></i>Property Requests</a></li>
      <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
      <li><a href="javascript:void(0)"><i class="ti-settings"></i> Edit Profile</a></li>
      <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>
   </ul>
</li>