<!-- Left navbar-sidebar -->
<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse slimscrollsidebar">

      <ul class="nav" id="side-menu">
         
<% if user_signed_in? %>
   <%= render "application/leftnavprofile"%>
<%end%>
         <!-- User profile-->
         <li class="nav-small-cap m-t-10">--- Main Menu</li>
         <li>
            <a href="javascript:void(0)" class="waves-effect"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">Search Properties</span></a>
         </li>
         <li>
            <a href="javascript:void(0)" class="waves-effect "><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">Favorite Properties</span><span class="label label-rouded label-purple pull-right">2</span></a>
         </li>
         <li>
            <a href="javascript:void(0)" class="waves-effect"><i class="zmdi zmdi-copy zmdi-hc-fw fa-fw"></i> <span class="hide-menu">Payment Calculator</span></a>
         </li>
      </ul>
   </div>
</div>
<!-- Left navbar-sidebar end -->