         <!-- .user dropdown -->
         <li class="dropdown">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <%= image_tag("varun.jpg", class: "img-circle", width: 36)%><b class="hidden-xs">Steave</b> </a>
            <ul class="dropdown-menu dropdown-user scale-up">
               <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
               <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
               <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
            <!-- /.user dropdown-user -->
         </li>
         <!-- /.user dropdown -->